<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriverCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <DriverCleaner.Properties.Settings>
            <setting name="directories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Display.Driver</string>
                        <string>HDAudio</string>
                        <string>NVI2</string>
                        <string>PhysX</string>
                        <string>PPC</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="eulaStr" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>${{EulaHtmlFile}}</string>
                        <string>${{FunctionalConsentFile}}</string>
                        <string>${{PrivacyPolicyFile}}</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DriverCleaner.Properties.Settings>
    </applicationSettings>
</configuration>